{% extends"customer_base.html" %}

{% block content %}
  <!-- Page Header-->
  <header class="page-header">
    <div class="container-fluid">
      <h2 class="no-margin-bottom">Main</h2>
    </div>
  </header>

<!-- Forms Section-->
  <section class="forms">
            <div class="container-fluid">
              <div class="row">
                <!-- Appointments Form-->
                <div class="col-lg-4">
                  <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Make an Appointment</h3>
                    </div>

                    <div class="card-body text-center">
                      <button type="button" data-toggle="modal" data-target="#myModal" class="btn btn-primary">Standard  Appointment</button>
                      <!-- Modal-->
                      <div id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 id="exampleModalLabel" class="modal-title">Standard Appointment</h4>
                              <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                              <p>Add your appointment details here!</p>

                              <form action="" method="post" novalidate role="form" class="form-horizontal">
                                {{ form.hidden_tag() }}
                                <div class="form-group row">
                                    {{ form.pets.label(class="col-sm-3 form-control-label") }}<br>
                                    <div class="col-sm-9">
                                        <label class="checkbox-inline" >
                                            {{ form.pets(class="form-control", id="pets") }}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group row">
                                  {{ form.description.label(class="col-sm-3 form-control-label") }}<br>
                                    <div class="col-sm-9">
                                        {{ form.description(size=100, class="form-control") }}
                                    </div>
                                </div>
                                <div class="form-group">
                                  <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                                    {{ form.submit(class="btn btn-primary", id="submit") }}
                                  </div>
                               </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                    <div class="card-body text-center">
                      <button type="button" data-toggle="modal" data-target="#myModal0" class="btn btn-primary">Emergency  Appointment</button>
                      <!-- Modal-->
                      <div id="myModal0" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" class="modal fade text-left">
                        <div role="document" class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 id="exampleModalLabel" class="modal-title">Emergency Appointment</h4>
                              <button type="button" data-dismiss="modal" aria-label="Close" class="close"><span aria-hidden="true">×</span></button>
                            </div>
                            <div class="modal-body">
                              <p>Just choose one pet!</p>
                              <form action="" method="post" novalidate role="form" class="form-horizontal">
                                {{ form0.hidden_tag() }}
                                <div class="form-group row">
                                    {{ form0.pets.label(class="col-sm-3 form-control-label") }}<br>
                                    <div class="col-sm-9">
                                        <label class="checkbox-inline" >
                                            {{ form0.pets(class="form-control", id="pets") }}
                                        </label>
                                    </div>
                                </div>
                                <div class="form-group">
                                  <div class="modal-footer">
                                    <button type="button" data-dismiss="modal" class="btn btn-secondary">Close</button>
                                    {{ form0.submit(class="btn btn-primary", id="submit") }}
                                  </div>
                               </div>
                              </form>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>

                  </div>
                </div>
              </div>
            </div>
  </section>

<script>
    document.getElementById("appointment").setAttribute("class", "");
    document.getElementById("main").setAttribute("class", "active");
</script>

{% endblock %}