{% extends"customer_console_base.html" %}
{% block content %}
    <div class="container">
        <div class="row row-centered">
            <div class="well col-md-6 col-centered">

                <table class="table">
                    <thead>
                        <tr>
                            <th>User</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Name:</th>
                            <td>{{user.username}}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{user.email}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>

    <section class="tables">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Appointments</th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th>Pet Name</th>
                                    <th>Pet ID</th>
                                    <th>Appointment ID</th>
                                    <th>Appointments Type </th>
                                    <th>Construction Time </th>
                                    <th>Appointments Description </th>
                                    <th>Meeting Date</th>
                                    <th>Surgery Date</th>
                                    <th>Operator ID </th>
                                </tr>

                                {% for a in appointments%}
                                {% for pet in pets%}
                                {%  if pet.id==a.pet_id %}
                                <tr>
                                    <td>{{pet.name}}</td>
                                    <td>{{pet.id}}</td>
                                    <td>{{a.id}}</td>
                                    {% if a.type == 0 %}
                                    <td>Emergent</td>
                                    {% elif a.type == 1 %}
                                    <td>Standard</td>
                                    {% endif %}
                                    <td>{{a.time}}</td>
                                    <td>{{a.description}}</td>

                                    {% if a.meeting_date == None %}
                                    <td>Not Decided</td>
                                    {% else %}
                                    <td>{{ a.meeting_date }}</td>
                                    {% endif %}

                                    {% if a.surgery_date == None %}
                                    <td>Not Decided</td>
                                    {% else %}
                                    <td>{{ a.surgery_date }}</td>
                                    {% endif %}
                                   
                                    <td>{{a.operator_id}}</td>
                                    <td><a class="btn btn-primary btn-sm" href="/customer_appointments/update_appointments/{{a.id}}" role="button">Edit</a>
                                        <a class="btn btn-primary btn-sm" href="/customer_appointments/delete_appointment/{{a.id}}" role="button">Delete</a></td>
                                    </td>

                                </tr>
                                {% endif %}
                                {% endfor %}
                                {% endfor %}

                            </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </section>




{% endblock %}

