{% extends"nav.html" %}

{% block content %}

<!--==================================
=            Contact Form            =
===================================-->
<section class="section contact">
    <!-- container start -->
    <div class="container">

        <div class="row">
            <div class="col-md-6">
             <div class="section-title text-left">
                <h3><strong data-locale="Welcome!">Welcome!</strong>
                    <span data-locale="Let's get start.">Let's get start.</span>
                </h3>
            </div>
            <br>
                <div class="contact-form">
                    <form action="" method="post" id="customer_login_form" novalidate role="form" class="row">
                        {{ form.hidden_tag() }}

                        <div class="col-md-12">
                            <strong data-locale="Username">Username</strong><br>
                            {{ form.username(class="form-control main") }}
                             <span>{{ noneerror }}</span>
    <!--                        {% for error in form.username.errors %}-->
    <!--                            <span>{{ error }}</span>-->
    <!--                        {% endfor %}-->
                            <span id="notice_username"></span>
                        </div>

                        <div class="col-md-12">
                            <strong data-locale="Password">Password</strong><br>
                            {{ form.password(class="form-control main") }}
                             <span>{{ pwerror }}</span>
    <!--                        {% for error in form.password.errors %}-->
    <!--                            <span>{{ error }}</span>-->
    <!--                        {% endfor %}-->
                            <span id="notice_password"></span>
                        </div>

                        <div class="col-md-6 text-left">
                            {{ form.remember_me() }} <strong data-locale="Remember ME">Remember ME</strong>
                        </div>
                        <div class="col-md-6 text-right">
{#                            {{ form.submit(class="btn btn-style-one",value='登陆') }}#}
                            {{ form.submit(class="btn btn-style-one") }}
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-2">
            </div>
            <div class="col-md-4">
                <div class="section-title text-left">
                    <h3><strong data-locale="Don't have one?">Don't have one?</strong><br>
                        <span data-locale="Join us now!">Join us now!</span>
                    </h3>
                </div>
                <!-- address start -->
                <br><br>
                <!-- submit button -->
                <div class="col-md-12 text-center">
{#                    <button class="btn btn-style-one" type="submit" href="{{ url_for('signup')}}">Register An Account</button>#}
                    <a href="{{ url_for('signup')}}" class="btn-style-one" data-locale="Register An Account">Register An Account</a>
                </div>
            </div>
        </div>
    </div>
    <!-- container end -->
</section>
<!--====  End of Contact Form  ====-->

    <script src="{{ url_for('static', filename='script/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='script/customer_login.js') }}"></script>
{% endblock %}