{% extends"nav.html" %}

{% block content %}

<!--=================================
=            Page Slider            =
==================================-->
<div class="hero-slider" id="News">

    <!-- Slider Item -->
    <div class="slider-item slide1" style="background-image:url(../static/images/index_img/slider/slider-bg-1.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Slide Content Start -->
                    <div class="content style text-right">
                        <h2 class="text text-bold mb-2" data-locale="Healing Paws"></h2>
                        <h2 class="text text-bold mb-2" data-locale="Register your Healing Paws"></h2>
                        <h2 class="text text-bold mb-2" data-locale="Customer account"></h2>
                        <p class="tag-text mb-5" data-locale="News1"></p>
                        <p class="tag-text mb-5" data-locale="News2"></p>
                        <a href="{{ url_for('signup')}}" class="btn btn-main btn-white" data-locale="Register an Account"></a>
                    </div>
                    <!-- Slide Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Item -->
    <div class="slider-item" style="background-image:url(../static/images/index_img/slider/slider-bg-3.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Slide Content Start -->
                    <div class="content text-center style">
                        <h2 class="text-white text-bold mb-2" data-locale="Best Pet Medical Services"></h2>
                        <p class="tag-text mb-5" data-locale="News3"></p>
                        <p class="tag-text mb-5" data-locale="News4"></p>
                        <a href="#Contact" class="btn btn-main btn-white" data-locale="See More"></a>
                    </div>
                    <!-- Slide Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Item -->
    <div class="slider-item" style="background-image:url(../static/images/index_img/slider/slider-bg-2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Slide Content Start-->
                    <div class="content style text-right">
                        <h2 class="text-white" data-locale="We Care About"></h2>
                        <h2 class="text-white" data-locale="Dogs' Health"></h2>
                        <p class="tag-text" data-locale="News5"></p>
                        <a href="#Blog" class="btn btn-main btn-white" data-locale="Check More"></a>
                    </div>
                    <!-- Slide Content End-->
                </div>
            </div>
        </div>
    </div>

</div>

<!--====  End of Page Slider  ====-->

<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cta-block">
                    <div class="emmergency item">
                        <i class="fa fa-phone"></i>
                        <h2 data-locale="Emergency Case"></h2>
                        <a href="#">86-010-654321</a>
                        <p data-locale="Card1"></p>
                    </div>
                    <div class="top-doctor item">
                        <i class="fa fa-stethoscope"></i>
                        <h2 data-locale="Hour Service"></h2>
                        <p data-locale="Card2"></p>
                        <a href="{{ url_for('customer_questions')}}" class="btn btn-main" data-locale="Ask a Question"></a>
                    </div>
                    <div class="working-time item">
                        <i class="fa fa-hourglass-o"></i>
                        <h2 data-locale="Working Hours"></h2>
                        <ul class="w-hours">
                            <li>Mon - Tue    <span>9:00 - 15:00</span></li>
                            <li>Wed - Fri    <span>8:00 - 16:00</span></li>
                            <li>Sat - Sun    <span>7:00 - 17:00</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Service Section-->
<section class="service-section bg-gray section" id="Services">
    <div class="container">
        <div class="section-title text-center">
            <h3 data-locale="Healing Paws"></h3>
            <p data-locale="P1"></p>
        </div>
        <div class="row items-container clearfix">
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                        <a href="service.html">
                            <img src="../static/images/index_img/gallery/1.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span data-locale="Make appointments for your pets"></span>
                        <a href="#">
                            <h6 data-locale="Standard"></h6>
                        </a>
                        <p data-locale="P2"></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                        <a href="#">
                            <img src="../static/images/index_img/gallery/2.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span data-locale="Deal with Emergency situation"></span>
                        <a href="#">
                            <h6 data-locale="Emergency"></h6>
                        </a>
                        <p data-locale="P3"></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                        <a href="#">
                            <img src="../static/images/index_img/gallery/3.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span data-locale="P4"></span>
                        <a href="#">
                            <h6 data-locale="P5"></h6>
                        </a>
                        <p data-locale="P6"></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                        <a href="#">
                            <img src="../static/images/index_img/gallery/4.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span data-locale="P7"></span>
                        <a href="service.html">
                            <h6 data-locale="P8"></h6>
                        </a>
                        <p data-locale="P9"></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                        <a href="#">
                            <img src="../static/images/index_img/gallery/5.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span data-locale="P10"></span>
                        <a href="service.html">
                            <h6 data-locale="P11"></h6>
                        </a>
                        <p data-locale="P12"></p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                        <a href="#">
                            <img src="../static/images/index_img/gallery/6.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span data-locale="P13"></span>
                        <a href="#">
                            <h6 data-locale="Professional"></h6>
                        </a>
                        <p data-locale="P14"></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Service Section-->

<!--testimonial-section-->
<section class="testimonial-section" style="background: url(../static/images/index_img/testimonials/1.jpg);" id="Blog">
    <div class="container">
        <div class="section-title text-center">
            <h3 data-locale="T1"></h3>
        </div>
        <div class="testimonial-carousel">
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="../static/images/index_img/testimonials/a.jpg" alt="">
                        </figure>
                    </div>
                    <h6>Adam Rose</h6>
                    <p data-locale="T2"></p>
                </div>
            </div>
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="../static/images/index_img/testimonials/b.jpg" alt="">
                        </figure>
                    </div>
                    <h6>David Warner</h6>
                    <p data-locale="T3"></p>
                </div>
            </div>
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="../static/images/index_img/testimonials/c.jpg" alt="">
                        </figure>
                    </div>
                    <h6>Amy Adams</h6>
                    <p data-locale="T4"></p>
                </div>
            </div>
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="../static/images/index_img/testimonials/d.jpg" alt="">
                        </figure>
                    </div>
                    <h6>Cathrine</h6>
                    <p data-locale="T5"></p>
                </div>
            </div>
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="../static/images/index_img/testimonials/e.jpg" alt="">
                        </figure>
                    </div>
                    <h6>Henry</h6>
                    <p data-locale="T6"></p>
                </div>
            </div>
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="../static/images/index_img/testimonials/f.jpg" alt="">
                        </figure>
                    </div>
                    <h6>Abey</h6>
                    <p data-locale="T7"></p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End testimonial-section-->

<!--Start about us area-->
<section class="service-tab-section section"  id="Contact">
    <div class="outer-box clearfix">
        <div class="container">
            <div class="section-title text-center">
            <h3 data-locale="Contact Us"></h3>
                <br>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <div class="tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#dormitory"  data-toggle="tab" data-locale="Beijing"></a>
                            </li>
                            <li role="presentation">
                                <a href="#orthopedic" data-toggle="tab" data-locale="Shanghai"></a>
                            </li>
                            <li role="presentation">
                                <a href="#sonogram" data-toggle="tab" data-locale="Chengdu"></a>
                            </li>
                        </ul>
                    </div>
                    <!--Start single tab content-->
                    <div class="tab-content">
                        <div class="service-box tab-pane fade in active row" id="dormitory">
                            <div class="col-md-6">
                                <img class="img-responsive" src="../static/images/index_img/services/service-one.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3 data-locale="Beijing Healing Paws"></h3>
                                    </div>
                                    <div class="text">
                                        <p data-locale="C1"></p>
                                        <p data-locale="C2"></p>
                                    </div>
                                    <ul class="content-list">
                                        <li  data-locale="C3">
                                            <i class="fa fa-dot-circle-o"></i></li>
                                        <li data-locale="C4">
                                            <i class="fa fa-dot-circle-o"></i></li>
                                        <li data-locale="C5">
                                            <i class="fa fa-dot-circle-o"></i></li>
                                    </ul>
                                    <a href="#Contact" class="btn btn-style-one" data-locale="Contact Us"></a>
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade in" id="orthopedic">
                            <div class="col-md-6">
                                <img class="img-responsive" src="../static/images/index_img/services/service-two.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3 data-locale="Shanghai Healing Paws"></h3>
                                    </div>
                                    <div class="text">
                                        <p data-locale="C1"></p>
                                        <p data-locale="C2"></p>
                                    </div>
                                    <ul class="content-list">
                                        <li data-locale="C3">
                                            <i class="fa fa-dot-circle-o"></i></li>
                                        <li data-locale="C4">
                                            <i class="fa fa-dot-circle-o"></i></li>
                                        <li data-locale="C5">
                                            <i class="fa fa-dot-circle-o"></i></li>
                                    </ul>
                                    <a href="#Contact" class="btn btn-style-one" data-locale="Contact Us"></a>
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade in" id="sonogram">
                            <div class="col-md-6">
                                <img class="img-responsive" src="../static/images/index_img/services/service-three.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3 data-locale="Chengdu Healing Paws"></h3>
                                    </div>
                                    <div class="text">
                                        <p data-locale="C1"></p>
                                        <p data-locale="C2">W</p>
                                    </div>
                                    <ul class="content-list">
                                        <li data-locale="C3">
                                            <i class="fa fa-dot-circle-o"></i></li>
                                        <li data-locale="C4">
                                            <i class="fa fa-dot-circle-o"></i></li>
                                        <li data-locale="C5">
                                            <i class="fa fa-dot-circle-o"></i></li>
                                    </ul>
                                    <a href="#Contact" class="btn btn-style-one" data-locale="Contact Us"></a>
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End about us area-->

<!-- Contact Section -->
<section class="appoinment-section section" id="FAQ">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="accordion-section">
    <div class="section-title">
        <h3>FAQ</h3>
    </div>
    <div class="accordion-holder">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-locale="Q1" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body" data-locale="A1"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-locale="Q2" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo"></a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body" data-locale="A2"></div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-locale="Q3" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree"></a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body" data-locale="A3"></div>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="contact-area">
    <div class="section-title">
        <h3 data-locale="Request Appointment"></h3>
    </div>
    <form name="contact_form" class="default-form contact-form" action="sendmail.php" method="post">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <input type="text" name="Name" required="">
                </div>
                <div class="form-group">
                    <select name="subject">
                        <option data-locale="Beijing"></option>
                        <option data-locale="Shanghai"></option>
                        <option data-locale="Chengdu"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <input type="text" name="Date" required="" id="datepicker">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <div class="form-group">
                    <select name="subject">
                        <option data-locale="Cat"></option>
                        <option data-locale="Dog"></option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <textarea name="form_message" required=""></textarea>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn-style-one" data-locale="submit now"></button>
                </div>
            </div>
        </div>
    </form>
</div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->

{% endblock %}

