{% extends"nav.html" %}

{% block content %}

<!--=================================
=            Page Slider            =
==================================-->
<div class="hero-slider">

    <!-- Slider Item -->
    <div class="slider-item slide1" style="background-image:url(../static/images/index_img/slider/slider-bg-1.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Slide Content Start -->
                    <div class="content style text-right">
                        <h2 class="text text-bold mb-2">Healing Paws<br>
                            Register your Healing Paws<br>
                            Customer account</h2>
                        <p class="tag-text mb-5">
                             Give your pets the most comprehensive pet medical service!<br>
                             Enjoy the most convenient one-stop service!</p>
                        <a href="#" class="btn btn-main btn-white">Register an Account</a>
                    </div>
                    <!-- Slide Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Item -->
    <div class="slider-item" style="background-image:url(../static/images/index_img/slider/slider-bg-3.jpg)">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Slide Content Start -->
                    <div class="content text-center style">
                        <h2 class="text-white text-bold mb-2">Best Pet Medical Services</h2>
                        <p class="tag-text mb-5">Choose Healing Paws Veterinary Hospital
                            <br>Beijing / Shanghai / Hangzhou</p>
                        <a href="#" class="btn btn-main btn-white">See More</a>
                    </div>
                    <!-- Slide Content End -->
                </div>
            </div>
        </div>
    </div>
    <!-- Slider Item -->
    <div class="slider-item" style="background-image:url(../static/images/index_img/slider/slider-bg-2.jpg);">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <!-- Slide Content Start-->
                    <div class="content style text-right">
                        <h2 class="text-white">We Care About <br>Dogs' Health</h2>
                        <p class="tag-text">Professional treatment for you dog</p>
                        <a href="#" class="btn btn-main btn-white">Check More</a>
                    </div>
                    <!-- Slide Content End-->
                </div>
            </div>
        </div>
    </div>

</div>

<!--====  End of Page Slider  ====-->

<section class="cta">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="cta-block">
                    <div class="emmergency item">
                        <i class="fa fa-phone"></i>
                        <h2>Emergency Cases</h2>
                        <a href="#">86-010-654321</a>
                        <p>Click the numbers above for an emergency appointment!</p>
                    </div>
                    <div class="top-doctor item">
                        <i class="fa fa-stethoscope"></i>
                        <h2>24 Hour Service</h2>
                        <p>No matter when you need our help, contact us please!</p>
                        <a href="#" class="btn btn-main">Ask a Question</a>
                    </div>
                    <div class="working-time item">
                        <i class="fa fa-hourglass-o"></i>
                        <h2>Working Hours</h2>
                        <ul class="w-hours">
                            <li>Mon - Tue    <span>9:00 - 15:00</span></li>
                            <li>Wed - Fri    <span>8:00 - 16:00</span></li>
                            <li>Sat - Sun    <span>7:00 - 17:00</span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--Service Section-->
<section class="service-section bg-gray section">
    <div class="container">
        <div class="section-title text-center">
            <h3>Healing Paws
                <span>Services</span>
            </h3>
            <p>Healing Paws Veterinary Hospital is an animal Hospital specializing in the treatment of dogs and cats.
                We offer a variety of professional pet services.</p>
        </div>
        <div class="row items-container clearfix">
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                        <a href="service.html">
                            <img src="../static/images/index_img/gallery/1.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span>Make appointments for your pets</span>
                        <a href="#">
                            <h6>Standard</h6>
                        </a>
                        <p>Give your pet regular checkups to help them live healthier lives.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                        <a href="#">
                            <img src="../static/images/index_img/gallery/2.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span>Deal with Emergency situation</span>
                        <a href="#">
                            <h6>Emergency</h6>
                        </a>
                        <p>If your pet has any emergency, don't worry.Please feel free to contact us.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                        <a href="#">
                            <img src="../static/images/index_img/gallery/3.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span>Monitor your pet at all times</span>
                        <a href="#">
                            <h6>Track your pet's health</h6>
                        </a>
                        <p>Login your HEALING PAWS account to check on your pet's health anytime, anywhere.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                        <a href="#">
                            <img src="../static/images/index_img/gallery/4.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span>Consulting Healing Paws</span>
                        <a href="service.html">
                            <h6>Online veterinary doctor</h6>
                        </a>
                        <p>If you have any questions about your pet's health, please feel free to contact us online.</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                        <a href="#">
                            <img src="../static/images/index_img/gallery/5.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span>Three location of our hospital</span>
                        <a href="service.html">
                            <h6>Choose nearest one</h6>
                        </a>
                        <p>Our hospitals are located in Beijing, Shanghai and Hangzhou, contact us!</p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="inner-box">
                    <div class="img_holder">
                        <a href="#">
                            <img src="../static/images/index_img/gallery/6.jpg" alt="images" class="img-responsive">
                        </a>
                    </div>
                    <div class="image-content text-center">
                        <span>Professional Pet's Care</span>
                        <a href="#">
                            <h6>Professional</h6>
                        </a>
                        <p>We have the most professional veterinary treatment team, 24 hours to provide you with services.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End Service Section-->

<!--testimonial-section-->
<section class="testimonial-section" style="background: url(../static/images/index_img/testimonials/1.jpg);">
    <div class="container">
        <div class="section-title text-center">
            <h3>Treatment
                <span>Cases</span>
            </h3>
        </div>
        <div class="testimonial-carousel">
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="../static/images/index_img/testimonials/a.jpg" alt="">
                        </figure>
                    </div>
                    <h6>Adam Rose</h6>
                    <p>The pet treatment at this hospital is really sweet.They keep my dog healthy and strong.The clinic in Beijing is very convenient and can be found very quickly.</p>
                </div>
            </div>
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="../static/images/index_img/testimonials/b.jpg" alt="">
                        </figure>
                    </div>
                    <h6>David Warner</h6>
                    <p>Give my dog regular checkups so he can spend more time with me.The treatment in this hospital is very professional.Wow!!!!</p>
                </div>
            </div>
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="../static/images/index_img/testimonials/c.jpg" alt="">
                        </figure>
                    </div>
                    <h6>Amy Adams</h6>
                    <p>My dog suddenly fell ill, the hospital quickly helped me solve the problem, my dog is now very healthy!</p>
                </div>
            </div>
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="../static/images/index_img/testimonials/d.jpg" alt="">
                        </figure>
                    </div>
                    <h6>Cathrine</h6>
                    <p>It's reassuring that I can check my pet's health at any time.I don't have to worry about my pet's health all the time.</p>
                </div>
            </div>
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="../static/images/index_img/testimonials/e.jpg" alt="">
                        </figure>
                    </div>
                    <h6>Henry</h6>
                    <p>This hospital is the best pet hospital I have ever seen. They have set up a branch in Hangzhou. Pet owners in Hangzhou no longer have to worry about not having a good pet hospital.</p>
                </div>
            </div>
            <!--Slide Item-->
            <div class="slide-item">
                <div class="inner-box text-center">
                    <div class="image-box">
                        <figure>
                            <img src="../static/images/index_img/testimonials/f.jpg" alt="">
                        </figure>
                    </div>
                    <h6>Abey</h6>
                    <p>This hospital provides bilingual service!!This is great, as a foreigner, I don't worry about communication barriers anymore, my pet will be healthier!</p>
                </div>
            </div>

        </div>
    </div>
</section>
<!--End testimonial-section-->

<!--Start about us area-->
<section class="service-tab-section section">
    <div class="outer-box clearfix">
        <div class="container">
            <div class="section-title text-center">
            <h3>Contact
                <span>Us</span>
            </h3>
        </div>
            <div class="row">
                <div class="col-md-12">
                    <!-- Nav tabs -->
                    <div class="tabs">
                        <ul class="nav nav-tabs" role="tablist">
                            <li role="presentation" class="active">
                                <a href="#dormitory"  data-toggle="tab">Beijing</a>
                            </li>
                            <li role="presentation">
                                <a href="#orthopedic" data-toggle="tab">Shanghai</a>
                            </li>
                            <li role="presentation">
                                <a href="#sonogram" data-toggle="tab">Hangzhou</a>
                            </li>
                        </ul>
                    </div>
                    <!--Start single tab content-->
                    <div class="tab-content">
                        <div class="service-box tab-pane fade in active row" id="dormitory">
                            <div class="col-md-6">
                                <img class="img-responsive" src="../static/images/index_img/services/service-one.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3>Beijing Healing Paws</h3>
                                    </div>
                                    <div class="text">
                                        <p>Healing Paws Veterinary Hospital is located  in the city center with convenient transportation.
                                            Please feel free to contact us at any time. </p>
                                        <p>We provide 24-hour emergency services and outpatient services for more than 8 hours per day.
                                            Get ALl time support for emergency. We are here for anytime. Get Connect with us for any urgency.</p>
                                    </div>
                                    <ul class="content-list">
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Address：City Centre Mall, Beijing</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Tel.: 183-983-789</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>24 Hours Service & Online Vet</li>
                                    </ul>
                                    <a href="#" class="btn btn-style-one">Contact Us</a>
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade in" id="orthopedic">
                            <div class="col-md-6">
                                <img class="img-responsive" src="../static/images/index_img/services/service-two.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3>Shanghai Healing Paws</h3>
                                    </div>
                                    <div class="text">
                                        <p>Healing Paws Veterinary Hospital is located  in the city center with convenient transportation.
                                            Please feel free to contact us at any time. </p>
                                        <p>We provide 24-hour emergency services and outpatient services for more than 8 hours per day.
                                            Get ALl time support for emergency. We are here for anytime. Get Connect with us for any urgency.</p>
                                    </div>
                                    <ul class="content-list">
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Address：City Centre Mall, Shanghai</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Tel.: 183-983-789</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>24 Hours Service & Online Vet</li>
                                    </ul>
                                    <a href="#" class="btn btn-style-one">Contact Us</a>
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                        <!--Start single tab content-->
                        <div class="service-box tab-pane fade in" id="sonogram">
                            <div class="col-md-6">
                                <img class="img-responsive" src="../static/images/index_img/services/service-three.jpg" alt="service-image">
                            </div>
                            <div class="col-md-6">
                                <div class="contents">
                                    <div class="section-title">
                                        <h3>Hangzhou Healing Paws</h3>
                                    </div>
                                    <div class="text">
                                        <p>Healing Paws Veterinary Hospital is located  in the city center with convenient transportation.
                                            Please feel free to contact us at any time. </p>
                                        <p>We provide 24-hour emergency services and outpatient services for more than 8 hours per day.
                                            Get ALl time support for emergency. We are here for anytime. Get Connect with us for any urgency.</p>
                                    </div>
                                    <ul class="content-list">
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Address：City Centre Mall, Hangzhou</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>Tel.: 183-983-789</li>
                                        <li>
                                            <i class="fa fa-dot-circle-o"></i>24 Hours Service & Online Vet</li>
                                    </ul>
                                    <a href="#" class="btn btn-style-one">Contact Us</a>
                                </div>
                            </div>
                        </div>
                        <!--End single tab content-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--End about us area-->

<!-- Contact Section -->
<section class="appoinment-section section">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="accordion-section">
    <div class="section-title">
        <h3>FAQ</h3>
    </div>
    <div class="accordion-holder">
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                        <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            Why Should I choose Healing Paws
                        </a>
                    </h4>
                </div>
                <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                    <div class="panel-body">
                        <strong>Healing Paws Veterinery Hospital</strong> is a full-service veterinary medical facility, located in Beijing, Shanghai and Hangzhou of China.
                        The professional and courteous staff at <strong>Healing Paws Veterinary Hospital</strong> seeks to provide
                        the best possible medical care, surgical care and regular care for pets.
                        Our commitment to veterinary excellence is reflected in the clinic obtaining the prestigious AAHA accreditation 50 years in a row!
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                            aria-controls="collapseTwo">
                            Covid - 19, special time.
                        </a>
                    </h4>
                </div>
                <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                    <div class="panel-body">
                        is taking steps to make sure we can continue to serve you and maintain the health and safety of our patients,
                        staff as our nation deals with the COVID-19 pandemic.
                        **any wellness appointments already scheduled before today will be serviced unless clients are showing signs of illness.
                        Please feel free to call an re-schedule if needed**
                        For any pet visit: We would like to stress If anyone in the household has any symptoms and has to been officially
                        quarantine please call ahead to cancel appointments.
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                        <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false"
                            aria-controls="collapseThree">
                            What about our services?
                        </a>
                    </h4>
                </div>
                <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                    <div class="panel-body">
                        Our services don't end at our hospital doors.  As a member of the Healing Paws family, our veterinarians
                        have access to extensive medical resources, not the least of which is the Healing Paws knowledge base,
                        which allows our doctors to tap into the collected knowledge of over 4,000 Healing Paws veterinarians.
                        And if your pet ever needs truly advanced veterinary care, Healing Paws Specialty Hospitals are ready to help.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="contact-area">
    <div class="section-title">
        <h3>Request
            <span>Appointment</span>
        </h3>
    </div>
    <form name="contact_form" class="default-form contact-form" action="sendmail.php" method="post">
        <div class="row">
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <input type="text" name="Name" placeholder="Name" required="">
                </div>
                <div class="form-group">
                    <input type="email" name="Email" placeholder="Email" required="">
                </div>
                <div class="form-group">
                    <select name="subject">
                        <option>Beijing</option>
                        <option>Shanghai</option>
                        <option>Hangzhou</option>
                    </select>
                </div>
            </div>
            <div class="col-md-6 col-sm-12 col-xs-12">
                <div class="form-group">
                    <input type="text" name="Phone" placeholder="Phone" required="">
                </div>
                <div class="form-group">
                    <input type="text" name="Date" placeholder="Date" required="" id="datepicker">
                    <i class="fa fa-calendar" aria-hidden="true"></i>
                </div>
                <div class="form-group">
                    <select name="subject">
                        <option>Cat</option>
                        <option>Dog</option>
                    </select>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="form-group">
                    <textarea name="form_message" placeholder="Your Message" required=""></textarea>
                </div>
                <div class="form-group text-center">
                    <button type="submit" class="btn-style-one">submit now</button>
                </div>
            </div>
        </div>
    </form>
</div>
            </div>
        </div>
    </div>
</section>
<!-- End Contact Section -->

{% endblock %}

