<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <title>Healing Paws Hospital</title>

  <!-- mobile responsive meta -->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

  <!-- Slick Carousel -->
  <link rel="stylesheet" href="../static/vendor/plugins_index/slick/slick.css">
  <link rel="stylesheet" href="../static/vendor/plugins_index/slick/slick-theme.css">
  <!-- FancyBox -->
  <link rel="stylesheet" href="../static/vendor/plugins_index/fancybox/jquery.fancybox.min.css">

  <!-- Stylesheets -->
  <link href="../static/css/css_index/style.css" rel="stylesheet">

  <!--Favicon-->
  <link rel="shortcut icon" href="../static/images/index_img/favicon1.png" type="image/x-icon">
  <link rel="icon" href="../static/images/index_img/favicon1.png" type="image/x-icon">

</head>

<body>

<div class="page-wrapper">

<!--Header Upper-->
<section class="header-uper" id="title">
      <div class="container clearfix">
            <div class="logo">
                  <figure>
                        <a href="{{ url_for('index')}}">
                              <img src="../static/images/index_img/logo_index.png" alt="" width="70%" height="70%">
                        </a>
                  </figure>
            </div>
            <div class="right-side">
                  <ul class="contact-info">
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-envelope-o"></i>
                              </div>
                              <strong data-locale="Email"></strong>
                              <br>
                              <a href="#">
                                    <span>HealingPaws@gmail.com</span>
                              </a>
                        </li>
                        <li class="item">
                              <div class="icon-box">
                                    <i class="fa fa-phone"></i>
                              </div>
                              <strong data-locale="Call Now"></strong>
                              <br>
                              <span>+ (86) - 123 - 4567</span>
                        </li>
                  </ul>
                  <div class="link-btn">
                        <a href="{{ url_for('customer_login')}}" class="btn-style-one" data-locale="Login"></a>
                  </div>
            </div>
      </div>
</section>
<!--Header Upper-->

<!--Main Header-->
<nav class="navbar navbar-default">
      <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                  <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"
                        aria-expanded="false">
                        <span class="sr-only" data-locale="Toggle navigation"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                  </button>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav">
                        <li class="active">
                              <a href="{{ url_for('index')}}" data-locale="Home"></a>
                        </li>
                        <li>
                              <a href="#News" data-locale="News"></a>
                        </li>
                        <li>
                              <a href="#Services" data-locale="Services"></a>
                        </li>
                        <li>
                              <a href="#FAQ" data-locale="FAQ"></a>
                        </li>
                        <li>
                              <a href="#Blog" data-locale="Blog"></a>
                        </li>
                        <li>
                              <a href="#Contact" data-locale="Contact"></a>
                        </li>
                        <li class="text-left">
                              <a href="#title" id='btn' class="btn-style-special"  data-locale="Change Language"></a>
{#                              <button type="button" id='btn' class="btn-style-one" data-locale="Change Language"></button>#}
                        </li>
                  </ul>
            </div>
            <!-- /.navbar-collapse -->
      </div>
      <!-- /.container-fluid -->
</nav>
<!--End Main Header -->

    {% block content %}
    {% endblock %}

<!--footer-main-->
<footer class="footer-main">
  <div class="footer-top">
    <div class="container">
      <div class="row">
        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="about-widget">
            <div class="footer-logo">
              <figure>
                <a href="{{ url_for('index') }}">
                  <img src="../static/images/index_img/logo_index.png" alt="" width="70%" height="70%">
                </a>
              </figure>
            </div>
            <p><strong data-locale="footer1"></strong></p>
            <ul class="location-link">
              <li class="item">
                <i class="fa fa-map-marker"></i>
                <p data-locale="footer2"></p>
              </li>
              <li class="item">
                <i class="fa fa-envelope-o" aria-hidden="true"></i>
                <a href="#">
                  <p>HealingPaws@gmail.com</p>
                </a>
              </li>
              <li class="item">
                <i class="fa fa-phone" aria-hidden="true"></i>
                <p>(86) +123 4567</p>
              </li>
            </ul>
            <ul class="list-inline social-icons">
              <li><a href="#"><i class="fa fa-facebook"></i></a></li>
              <li><a href="#"><i class="fa fa-twitter"></i></a></li>
              <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
              <li><a href="#"><i class="fa fa-vimeo"></i></a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-4 col-sm-6 col-xs-12">
          <div class="social-links">
            <h6 data-locale="footer3"></h6>
            <ul>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="../static/images/index_img/blog/post-thumb-small.png" alt="post-thumb" width="50px" height="50px">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading"><a href="#" data-locale="footer4"></a></h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, dolorem.</p>
                  </div>
                </div>
              </li>
              <li class="item">
                <div class="media">
                  <div class="media-left">
                    <a href="#">
                      <img class="media-object" src="../static/images/index_img/blog/post-thumb-small.png" alt="post-thumb" width="50px" height="50px">
                    </a>
                  </div>
                  <div class="media-body">
                    <h4 class="media-heading">
                      <a href="#" data-locale="footer4"></a>
                    </h4>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam, dolorem.</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="footer-bottom">
    <div class="container clearfix">
      <div class="copyright-text">
        <p>&copy; <strong data-locale="Copyright"> Copyright 2020. All Rights Reserved by</strong>
          <a href="index.html" data-locale="Healing Paws Veterinary Hospital">Healing Paws Veterinary Hospital</a>
        </p>
      </div>
      <ul class="footer-bottom-link">
        <li>
          <a href="#title" data-locale="Home"></a>
        </li>
        <li>
          <a href="#title" data-locale="About Us"></a>
        </li>
        <li>
          <a href="#title" data-locale="Contact Us"></a>
        </li>
      </ul>
    </div>
  </div>
</footer>
<!--End footer-main-->

</div>
<!--End pagewrapper-->


<!-- JQuery -->
<script src="../static/vendor/plugins_index/jquery.js"></script>
<script src="../static/script/jquery.cookie.js"></script>
<!-- Bootstrap -->
<script src="../static/vendor/plugins_index/bootstrap.min.js"></script>
<script src="../static/vendor/plugins_index/bootstrap-select.min.js"></script>
<!-- Slick Slider -->
<script src="../static/vendor/plugins_index/slick/slick.min.js"></script>
<!-- FancyBox -->
<script src="../static/vendor/plugins_index/fancybox/jquery.fancybox.min.js"></script>
<!-- Others -->
{#<script src="../static/vendor/plugins_index/validate.js"></script>#}
<script src="../static/vendor/plugins_index/wow.js"></script>
<script src="../static/vendor/plugins_index/jquery-ui.js"></script>
<script src="../static/vendor/plugins_index/timePicker.js"></script>
<script src="../static/script/index_script.js"></script>

<!-- I18N -->
    <script src="../static/script/i18n_js/jquery.i18n.properties.min.js"></script>
    <script type="text/javascript">
        if ($.cookie("lan") == "zh") {
            loadProperties('zh');
        }
        else{
            loadProperties('en');
        }

        btn.onclick=function(){
            if($.cookie("lan") =="zh"){
                loadProperties('en');
                $.cookie('lan', 'en');
            }else{
                loadProperties('zh');
                $.cookie('lan', 'zh');
            }
        };
        function loadProperties(lang) {
            $.i18n.properties({
                name: 'strings',    //属性文件名     命名格式： 文件名_国家代号.properties
                path: '../static/i18n/',   //注意这里路径是你属性文件的所在文件夹
                mode: 'map',
                language: lang,     //这就是国家代号 name+language刚好组成属性文件名：strings+zh -> strings_zh.properties
                callback: function () {
                    $("[data-locale]").each(function () {
                        console.log($(this).data("locale"));
                        $(this).html($.i18n.prop($(this).data("locale")));

                    });
                }
            });
        }
    </script>

</body>

</html>