{% extends"customer_console_base.html" %}

{% block content %}
    <div class="container">
        <div class="row row-centered">
            <div class="well col-md-6 col-centered">
<h1>Check</h1>
{% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
<form action="/personal_information/check_password" method="POST">
    <label>Please enter your old password:</label>
    <input type="password" name="password">
    <br><br>
    <button type="submit" class="btn btn-outline-info">Submit</button>
</form>
 </div>
        </div>
        
    </div>

{% endblock %}