{% extends"customer_console_base.html" %}

{% block content %}

<h2>Your Account</h2>

    <div class="container">
        <div class="row row-centered">
            <div class="well col-md-6 col-centered">

                <table class="table">
                    <thead>
                        <tr>
                            <th>Your Information</th>
                            <th><a class="btn btn-primary btn-sm" href="/personal_information/update" role="button">Edit Information</a>
                            <a class="btn btn-primary btn-sm" href="/personal_information/check_password" role="button">Change password</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Name:</th>
                            <td>{{user.username}}</td>
                        </tr>
                        <tr>
                            <th>Email:</th>
                            <td>{{user.email}}</td>
                        </tr>
                    </tbody>
                </table>

            </div>
        </div>
    </div>


{% endblock %}