{% extends"customer_base.html" %}

{% block content %}
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-header d-flex align-items-center">
                      <h3 class="h4">Please enter your question.</h3>
                    </div>
                    <div class="card-body">


                <form action="" method="post" novalidate role="form" class="form-horizontal">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.title.label(class="form-control-label") }}<br>
                        {{ form.title(size=100, class="form-control") }}
                        {% for error in form.title.errors %}
                        <span style="color: red">{{ error }}</span>
                        {% endfor %}
                    </div>
                    <div class="form-group">
                        {{ form.content.label(class="form-control-label")  }}
                        {{ form.content(size=1500, class="form-control", rows="3") }}
                        {% for error in form.content.errors %}
                        <span style="color: red;">{{ error }}</span>
                        {% endfor %}
                    </div>
                  <div>
                        
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-primary") }}
                    </div>
                </form>



                    </div>
                  </div>
                </div>
{% endblock %}