{% extends "nav.html" %}

{% block content %}
    <div id="signup" class="container">
        <div class="row row-centered">
            <div class="well col-md-6 col-centered">
                <h1 class="text-center">Please fill the form below</h1>
                <form action="" method="post" id="signup_form" novalidate role="form" class="form-horizontal">
                    {{ form.hidden_tag() }}
                    <div class="form-group">
                        {{ form.staffname.label }}<br>
                        {{ form.staffname(size=32, class="form-control") }}
                        <span style="color: red">{{ staffnameerror }}</span>
                        <span id="validation_username"></span>
                    </div>
                    <div class="form-group">
                        {{ form.level.label }}<br>
                        {{ form.level(size=2, class="form-control form-control-lg") }}
                        <span style="color: red">{{ levelerror }}</span>
                        <span id="validation_level"></span>
                    </div>
                    <div class="form-group">
                        {{ form.password.label }}<br>
                        {{ form.password(size=35, class="form-control form-control-lg") }}
                        <span id="validation_password"></span>
                    </div>
                    <div class="form-group">
                        {{ form.password2.label }}<br>
                        {{ form.password2(size=35, class="form-control form-control-lg") }}
                        <span id="validation_password2"></span>
                    </div>
                    <div class="form-group">
                        {{ form.submit(class="btn btn-outline-info") }}
                    </div>
                </form>
            </div>
        </div>

    </div>
    <script src="{{ url_for('static', filename='script/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='script/code.js') }}"></script>
{% endblock %}