{% extends "staff_base.html" %}

{% block content %}
    <div class="container">
        <div class="row row-centered">
            <div class="well col-md-6 col-centered">



    <section class="tables">
            <div class="container-fluid">
              <div class="row">
                <div class="col-lg-12">
                  <div class="card">
                    <div class="card-body">
                      <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th data-locale="Pets Information"></th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr>
                                    <th data-locale="MyAppointment_Pet Name">Pet Name</th>
                                    <th id="th1" onclick="SortTable(this)" class="as" data-locale="MyAppointment_Pet ID">Pet ID<a href="#"> <i class="fa fa-sort" aria-hidden="true" ></i> </a></th>
                                    <th id="th2" class="as" data-locale="PetCategory">Pet type<a href="#"> <i class="fa fa-sort" aria-hidden="true" ></i> </a></th>
                                    <th id="th3" onclick="SortTable(this)" class="as" data-locale="User ID">Owner ID<a href="#"> <i class="fa fa-sort" aria-hidden="true" ></i> </a></th>
                                    <th id="th4" onclick="SortTable(this)" class="as" data-locale="User Name">Owner Name</th>
                                    <th id="th5" onclick="SortTable(this)" class="as" data-locale="MyAppointment_Current Status">Pet Status</th>
                                </tr>

                                <!-- {% for pet in pets%}
                                    {% for customer in customers%}
                                    {% for appointment in pet.appointments%}
                                    {%  if pet.owner_id==customer.id %}
                                        {%  if appointment.pet_id==pet.id %}

                                    <tr>
                                    <td name="td0">{{pet.name}}</td>
                                    <td name="td1">{{pet.id}}</td>
                                    {% if pet.type == 1 %}
                                    <td name="td2" data-locale="Cat">Cat</td>
                                    {% elif pet.type == 2 %}
                                    <td name="td2" data-locale="Dog">Dog</td>
                                    {% endif %}
                                   
                                    <td name="td3">{{pet.owner_id}}</td>
                                    <td name="td4">{{customer.username}}</td>
                                    <td name="td5" data-locale="{{appointment.pet_status}}"></td>
                                    <td><a class="btn btn-primary btn-sm" href="/staff_checkpets/update_pet/{{pet.id}}" role="button" data-locale="Edit">Edit</a>
                                    </td>

                                </tr>

                                    {% endif %}
                                        {% endif %}

                            {% endfor %}
                          {% endfor %}

                         {% endfor %} -->
                            {% for customer in customers%}
                                {% for pet in customer.pets%}
                                
                                    <tr>
                                        <td name="td0">{{pet.name}}</td>
                                        <td name="td1">{{pet.id}}</td>
                                        {% if pet.type == 1 %}
                                        <td name="td2" data-locale="Cat">Cat</td>
                                        {% elif pet.type == 2 %}
                                        <td name="td2" data-locale="Dog">Dog</td>
                                        {% endif %}
                                        
                                        <td name="td3">{{pet.owner_id}}</td>
                                        <td name="td4">{{customer.username}}</td>
                                        {% if pet.appointments[-1] == undefined %}
                                        <td name="td5" data-locale="none"></td>
                                        {% else %}
                                        <td name="td5" data-locale="{{ pet.appointments[0].pet_status }}"></td>
                                        {% endif %}
                                        <td><a class="btn btn-primary btn-sm" href="/staff_checkpets/update_pet/{{pet.id}}" role="button" data-locale="Edit">Edit</a>
                                        </td>

                                    </tr>
                                {% endfor %}
                            {% endfor %}


                            </tbody>
                        </table>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
    </section>
            </div>
        </div>
    </div>





<script type="text/javascript">
      var tag=1;
      function sortNumberAS(a, b)
      {
          return a - b
      }
      function sortNumberDesc(a, b)
      {
          return b-a
      }

      function SortTable(obj){
          var td0s=document.getElementsByName("td0");
          var td1s=document.getElementsByName("td1");
          var td2s=document.getElementsByName("td2");
          var td3s=document.getElementsByName("td3");
          var td4s=document.getElementsByName("td4");
          var td5s=document.getElementsByName("td5");
          var tdArray0=[];
          var tdArray1=[];
          var tdArray2=[];
          var tdArray3=[];
          var tdArray4=[];
          var tdArray5=[];
          for(var i=0;i<td0s.length;i++){
              tdArray0.push(td0s[i].innerHTML);
          }
          for(var i=0;i<td1s.length;i++){
              tdArray1.push(parseInt(td1s[i].innerHTML));
          }
          for(var i=0;i<td2s.length;i++){
              tdArray2.push(td2s[i].innerHTML);
          }
          for(var i=0;i<td3s.length;i++){
              tdArray3.push(parseInt(td3s[i].innerHTML));
          }
          for(var i=0;i<td4s.length;i++){
              tdArray4.push(td4s[i].innerHTML);
          }
          for(var i=0;i<td5s.length;i++){
              tdArray5.push(td5s[i].innerHTML);
          }
          var tds=document.getElementsByName("td"+obj.id.substr(2,1));
          var columnArray=[];
          for(var i=0;i<tds.length;i++){
              columnArray.push(parseInt(tds[i].innerHTML));
          }
          var orginArray=[];
          for(var i=0;i<columnArray.length;i++){
              orginArray.push(columnArray[i]);
          }
          if(obj.className=="as"){
              columnArray.sort(sortNumberAS);               //排序后的新值
              obj.className="desc";
          }else{
              columnArray.sort(sortNumberDesc);               //排序后的新值
              obj.className="as";
          }


         for(var i=0;i<columnArray.length;i++){
             for(var j=0;j<orginArray.length;j++){
                 if(orginArray[j]==columnArray[i]){
                     document.getElementsByName("td0")[i].innerHTML=tdArray0[j];
                     document.getElementsByName("td1")[i].innerHTML=tdArray1[j];
                     document.getElementsByName("td2")[i].innerHTML=tdArray2[j];
                     document.getElementsByName("td3")[i].innerHTML=tdArray3[j];
                     document.getElementsByName("td4")[i].innerHTML=tdArray4[j];
                     document.getElementsByName("td5")[i].innerHTML=tdArray5[j];
                     orginArray[j]=null;
                     break;
                 }
             }
         }
     }
</script>
{% endblock %}