<!DOCTYPE html>
<html>
    
<head>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap2.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <script src="{{ url_for('static', filename='script/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
</head>



<body>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item"><a class="{{ class_on_going }}" href="{{ url_for('on_going')}}">On Going</a></li>
                <li class="nav-item"><a class="{{ class_unchecked }}" href="{{ url_for('unchecked')}}">Unchecked</a></li>
                <li class="nav-item"><a class="{{ class_finished }}" href="{{ url_for('finished')}}">Finished</a></li>
            </ul>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th>Appointment Type</th>
                    <th>Construction Date</th>
                    <th>Customer</th>
                    <th>Pet Name</th>
                    <th>Pet Type</th>
                    <th>Description</th>
                    <th>Operation</th>
                </tr>
            </thead>
            <tbody>
                {% for index,appoint in appoints %}
                <tr>
                    <td>{{ index+1 }}</td>
                    {% if appoint.type == 0 %}
                    <td>Emergent</td>
                    {% elif appoint.type == 1 %}
                    <td>Regular</td>
                    {% endif %}
                    <td>{{ appoint.time }}</td>
                    <td>{{ customers[index] }}</td>
                    <td>{{ pets[index].name }}</td>
                    {% if pets[index].type == 1 %}
                    <td>Cat</td>
                    {% elif pets[index].type == 2 %}
                    <td>Dog</td>
                    {% endif %}
                    <!-- <td><button class="btn btn-link" type="button"  id="description" data-toggle="modal" data-target="#myModal">view</button></td> -->
                    <td><button class="btn btn-link description" type="button" id="{{ appoint.id }}" value="{{ appoint.description }}" >view</button></td>
                    <td><button class="{{ button_style }} operation" type="button" id="{{ appoint.id }}">{{ button }}</button></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Description</h3>
                </div>
                <div class="modal-body">
                    <p>Hello</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!-- <script>

        var operationButtons = document.querySelectorAll('.operation');
        for(var i=0;i<operationButtons.length;i++){
            operationButtons[i].addEventListener('click',operation);
        }
        function operation(e){
            var buttonType = e.target.innerHTML;
            var index = e.target.id
            var form = document.createElement('form');
            form.method = "post";
            if(buttonType == "Finish"){
                form.action = "/staff_check_appointments/on_going";
            }else if(buttonType == "Check"){
                form.action = "/staff_check_appointments/unchecked";
            }else if(buttonType == "Active"){
                form.action = "/staff_check_appointments/finished";
            }
            var idArea = document.createElement('input');
            idArea.name = 'id';
            idArea.value = index;
            form.appendChild(idArea);
            document.body.appendChild(form);
            form.submit();
        }

        $(".description").click(function (e) {
            $(".modal-body p").text(e.target.value);
            $('#myModal').modal();
        });
    </script> -->

</body>
</html>