{% extends "nav.html" %}

{% block content %}
<section class="section contact">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="contact-form">
                    <form action="" method="post" id="staff_login_form" novalidate role="form" class="row">
                        {{ form.hidden_tag() }}
                        <div class="col-md-12">
                            <strong data-locale="Staff Name">Staff Name</strong><br>
                            {{ form.staffname(class="form-control main",size =32) }}
                            <span>
                                {{ noneerror }}
                            </span>
                            {% for error in form.staffname.errors %}
                            {{ error }}
                            {% endfor %}
                        <span id="notice_staffname"></span>
                        </div>
                        <div class="col-md-12">
                            <strong data-locale="Password">Password</strong><br>
                            {{ form.password(class="form-control main",size=32) }}
                        </div>
                        <span>
                            {{ pwerror }}
                        </span>
                        {% for error in form.password.errors %}
                            {{ error }}
                        {% endfor %}
                        <span id="notice_password"></span>
                        <div class="col-md-6 text-left">
                            {{ form.remember_me() }} <strong data-locale="Remember ME">Remember ME</strong>
                        </div>
                        <div class="col-md-6 text-right">
                            {{ form.submit(class="btn btn-style-one") }}
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section>

    <script src="{{ url_for('static', filename='script/jquery.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static',filename='script/staff_login.js') }}"></script>
{% endblock %}