{% extends "staff_base.html" %}

{% block content %}

<head>
   
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap2.min.css') }}"> -->
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap/css/bootstrap-datetimepicker.min.css') }}">
    <script src="{{ url_for('static', filename='script/jquery.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap/js/bootstrap-datetimepicker.min.js') }}"></script>
    
</head>

<body>
    <div class="card">
        <div class="card-header">
            <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item"><a class="{{ class_on_going }}" href="{{ url_for('on_going')}}"><span data-locale="Ongoing"></span></a></li>
                <li class="nav-item"><a class="{{ class_unchecked }}" href="{{ url_for('unchecked')}}" ><span data-locale="Unchecked">Unchecked</span></a></li>
                <li class="nav-item"><a class="{{ class_finished }}" href="{{ url_for('finished')}}" ><span data-locale="Finished">Finished</span></a></li>
            </ul>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table">
            <thead>
                <tr>
                    <th>No</th>
                    <th data-locale="MyAppointment_Appointments Type">Appointment Type</th>
                    <th data-locale="MyAppointment_Construction Time">Construction Date</th>
                    <th data-locale="User Name">Customer</th>
                    <th data-locale="MyAppointment_Pet Name">Pet Name</th>
                    <th data-locale="PetCategory">Pet Type</th>
                    <th data-locale="MyAppointment_Current Status">Pet Status</th>
                    <th data-locale="MyAppointment_Appointments Description">Description</th>
                    <th data-locale="Operation">Operation</th>
                </tr>
            </thead>
            <tbody>
                {% for index,appoint in appoints %}
                <tr>
                    <td>{{ index+1 }}</td>
                    {% if appoint.type == 0 %}
                    <td data-locale="Emergency">Emergent</td>
                    {% elif appoint.type == 1 %}
                    <td data-locale="Standard">Standard</td>
                    {% endif %}
                    <td>{{ appoint.time }}</td>
                    <td>{{ customers[index] }}</td>
                    <td>{{ pets[index].name }}</td>
                    {% if pets[index].type == 1 %}
                    <td data-locale="Cat">Cat</td>
                    {% elif pets[index].type == 2 %}
                    <td data-locale="Dog">Dog</td>
                    {% endif %}
                    <td><span data-locale="{{appoint.pet_status}}">{{appoint.pet_status}}</span></td>
                    <!-- <td><button class="btn btn-link" type="button"  id="description" data-toggle="modal" data-target="#myModal">view</button></td> -->
                    <td><button class="btn btn-link description" type="button" id="{{ appoint.id }}" value="{{ appoint.description }}" ><span data-locale="view"></span></button></td>
                   
                    {% if button == 'Finish' %}
                    <td>
                        <div class="dropdown">
                            <a class="{{ button_style }} dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><span data-locale="Menu"></span></a>
                            <!-- <div class="dropdown-menu">
                                <button class="{{ button_style }} dropdown-item operation" type="button" id="{{ appoint.id }}">Finish</button>
                                <button class="{{ button_style }} dropdown-item operation" type="button" id="{{ appoint.id }}">Take in</button>
                                <button class="{{ button_style }} dropdown-item operation" type="button" id="{{ appoint.id }}">Confirm Surgery Date</button>
                                <button class="{{ button_style }} dropdown-item operation" type="button" id="{{ appoint.id }}">Complete Surgery</button>
                                <button class="{{ button_style }} dropdown-item operation" type="button" id="{{ appoint.id }}">Inform Customer for Releasing</button>
                            </div> -->
                            <div class="dropdown-menu">da
                                <li><a class="{{ button_style }} dropdown-item operation" type="button" id="{{ appoint.id }}" data-locale="Finish"></a></li>
                                <li><a class="{{ button_style }} dropdown-item operation" type="button" id="{{ appoint.id }}" data-locale="Take in"></a></li>
                                <li><a class="{{ button_style }} dropdown-item operation" type="button" id="{{ appoint.id }}" data-locale="Confirm Surgery Date"></a></li>
                                <li><a class="{{ button_style }} dropdown-item operation" type="button" id="{{ appoint.id }}" data-locale="Complete Surgery"></a></li>
                                <li><a class="{{ button_style }} dropdown-item operation" type="button" id="{{ appoint.id }}" data-locale="Inform Customer for Releasing"></a></li>
                            </div>
                            
                        </div>            
                    </td>
                    {% else %}
                    <td><button class="{{ button_style }} operation" type="button" id="{{ appoint.id }}" data-locale="{{ button }}">{{ button }}</button></td>
                    {% endif %}
                </tr> 
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="modal fade" id="myModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Description</h3>
                </div>
                <div class="modal-body">
                    <p>Hello</p>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="addMeetingDateModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h3>Select Date</h3>
                </div>
                <div class="modal-body">
                    <div class="form-group">

                        <label>Choose Date and Time</label>
                        <div class='input-group date' id='datetimepicker'>
            
                            <input type='text' class="form-control" id="meeting_date" name="meetingDate">
            
                            <span class="input-group-addon">
            
                                <span class="glyphicon glyphicon-calendar"></span>
            
                            </span>
            
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button class="btn btn-default" id="confirm_date">Confirm</button>
                    <button class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
   
    <script>

        $(".description").click(function (e) {
            $(".modal-body p").text(e.target.value);
            $('#myModal').modal();
        });

        $(".operation").click(function (e) {
     
            if(e.target.innerHTML=='Check' || e.target.innerHTML== '确认' ){
                $('#addMeetingDateModal').modal();
                $('#datetimepicker').datetimepicker({
                    format: 'yyyy-mm-dd hh:ii'
                });

            }else if(e.target.innerHTML=='Confirm Surgery Date'  || e.target.innerHTML=='确定手术日期' ){
                $('#addMeetingDateModal').modal();
                $('#datetimepicker').datetimepicker({
                    format: 'yyyy-mm-dd hh:ii'
                });
            }else{

                var buttonType = e.target.innerHTML;

                if(buttonType == '通知客户取走宠物'){
                    buttonType = "Inform Customer for Releasing";
                }else if(buttonType == '收纳'){
                    buttonType = "Take in";
                }else if(buttonType == '结束'){
                    buttonType = "Finish";
                }else if(buttonType == '已完成手术'){
                    buttonType = "Complete Surgery" ;
                }else if(buttonType == '激活'){
                    buttonType = "Active" ;
                }                 


                var index = e.target.id
                var form = document.createElement('form');
                form.method = "post";
                if(buttonType == ("Finish" || "Take in" || "Complete Surgery" || "Inform Customer for Releasing") ){
                    form.action = "/staff_check_appointments/on_going";
                }else if(buttonType == "Active"){
                    form.action = "/staff_check_appointments/finished";
                }
                var idArea = document.createElement('input');
                idArea.name = 'id';
                idArea.value = index;
                var buttonArea = document.createElement('input');
                buttonArea.name = 'buttonType';
                buttonArea.value = buttonType;
                form.appendChild(idArea);
                form.appendChild(buttonArea);
                document.body.appendChild(form);
                form.submit();
            }

            $('#confirm_date').click(function(){
                var buttonType = e.target.innerHTML;
                if(buttonType == '确认'){
                    buttonType = 'Check';
                }else if(buttonType=='确定手术日期'){
                    buttonType = 'Confirm Surgery Date';
                }

                var index = e.target.id
                var form = document.createElement('form');
                form.method = "post";  
                if(buttonType == 'Check'){
                    form.action = "/staff_check_appointments/unchecked";
                }else{
                    form.action = "/staff_check_appointments/on_going";
                }
                var idArea = document.createElement('input');
                idArea.name = 'id';
                idArea.value = index;
                var buttonArea = document.createElement('input');
                buttonArea.name = 'buttonType';
                buttonArea.value = buttonType;
                form.appendChild(buttonArea);
                var timeArea = document.querySelector('#meeting_date');
                console.log(timeArea.value);
                form.appendChild(idArea);
                form.append(timeArea);
                document.body.appendChild(form);
                form.submit();
            });
            
        });
        
    </script>
   

</body>

{% endblock %}