{% extends staff_base.html %}
{% block content %}
    <div>
    <h1>Here is the searching result for
    <b>{{ query }}</b>
        </h1>
    </div>
    <div id='results'>
    {% if apm %}
        <a href="staff_check_appointments.html" class="appointment_link"><h3><b>[Appointment]</b>id=
            <span class="appoint_id">{{ apm.id }}</span><br></h3></a>
        <h3>Text description:{{ apm.description }}</h3>
    {% endif %}
    {% if customer %}
        <h3><b>[Customer]</b>id={{ customer.id }}<br>
        Customer Name:{{ customer.username }}</h3>
    {% endif %}
    {% if apmlist %}
        {% for appoint in apmlist %}
            <a href="staff_check_appointments.html" class="appiontment_link"><h3><b>[Appointment]</b>id=
                <span class="appoint_id">{{ appoint.id }}</span><br></h3></a>
        <h3>Text description:{{ appoint.description }}</h3>
        {% endfor %}
    {% endif %}
    {% if customerlist %}
        {% for cust in customerlist %}
             <h3><b>[Customer]</b>id={{ cust.id }}<br>
        Customer Name:{{ cust.username }}</h3>
        {% endfor %}
    {% endif %}
    </div>

      <script src="{{ url_for('static', filename='script/jquery.js') }}"></script>
      <script type="text/javascript" src="{{ url_for('static',filename='script/staff_search_list.js') }}"></script>
{% endblock %}