{% extends "customer_console_base.html" %}

{% block content %}
    <div class="container">
        <div class="row row-centered">
            <div class="well col-md-6 col-centered">
                <h1 class="text-center">Please fill the form below</h1>
                <form class="form-horizontal" action="/update_appointments/{{appointment.id}}" method="POST">
                    <div class="form-group">
                        <label>Appointment type：</label>
                        <select name="type">
                            <option value = 1>Standard</option>
                            <option value = 0>Emergent</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label>Appointment Description：</label>
                        <input type="text" class="form-control" name="description" value="{{appointment.description}}">
                    </div>

                    <div class="form-group">
                        <input class="btn btn-outline-info" type="submit" value="Update">
                    </div>
                </form>
            </div>
        </div>

    </div>

{% endblock %}
